@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-drag {
    user-drag: none;
    -webkit-user-drag: none;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground: #0a0a0a;
  --background: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mako);
}

nav {
  @apply bg-cover bg-center filter brightness-150;
}

.nav-item {
  font-family: var(--font-mako);
  @apply font-thin text-base sm:text-sm md:text-base rounded-lg px-2 bg-gray-300/10 my-5 inline-flex items-center no-underline transition ease-in-out;
}

.nav-item:hover {
  @apply transition cursor-pointer bg-gray-300/20 ease-in-out;
}

.brand {
  font-family: var(--font-kanit);
  @apply font-bold text-xl md:text-2xl select-none;
}

h1 {
  font-family: var(--font-kanit);
  @apply text-4xl font-bold;
}

h2 {
  font-family: var(--font-kanit);
  @apply text-3xl font-semibold;
}

h3 {
  font-family: var(--font-kanit);
  @apply text-2xl font-medium;
}

h4 {
  font-family: var(--font-kanit);
  @apply text-xl font-medium;
}

h5 {
  font-family: var(--font-kanit);
  @apply text-lg font-medium;
}

h6 {
  font-family: var(--font-kanit);
  @apply text-base font-medium;
}

p {
  @apply mt-5;
}

a.prose {
  @apply underline;
}

.landing-photo {
  @apply transition-all;
}

.landing-photo:hover {
  @apply scale-[1] md:scale-[1.05] transition-all;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
